In [5]:
import pandas as pd
from sqlalchemy import create_engine

In [6]:
airbnb_file = "AB_NYC_2019.csv"

In [7]:
airbnb_df = pd.read_csv(airbnb_file)

In [8]:
airbnb_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [9]:
airbnb_df = airbnb_df.rename(columns={"host_id": "host_number", "host_name": "host_title"})

In [10]:
# Create a filtered dataframe from specific columns
host_cols = ["host_number", "host_title"]
host_df = airbnb_df[host_cols].copy()

# Clean the data by dropping duplicates and setting the index
host_df.drop_duplicates("host_number", inplace=True)
host_df.set_index("host_number", inplace=True)

host_df.head()

              host_title
host_number
2787                John
2845            Jennifer
4632           Elisabeth
4869         LisaRoxanne
7192               Laura

In [11]:
# Create a filtered dataframe from specific columns
neighbourhood_group_cols = ["neighbourhood_group"]
neighbourhood_group_transformed = airbnb_df[neighbourhood_group_cols].copy()

# Rename the column headers
neighbourhood_group_transformed = neighbourhood_group_transformed.rename(columns={"neighbourhood_group":"borough"})
# Clean the data by dropping duplicates and setting the index
neighbourhood_group_transformed.drop_duplicates("borough", inplace=True)
neighbourhood_group_transformed.set_index("borough", inplace=True)
neighbourhood_group_transformed = neighbourhood_group_transformed.reset_index()
neighbourhood_group_transformed.index= neighbourhood_group_transformed.index + 1
neighbourhood_group_transformed = neighbourhood_group_transformed.reset_index()
neighbourhood_group_transformed = neighbourhood_group_transformed.rename(columns={"index": "borough_id"})

neighbourhood_group_transformed.head()

   borough_id        borough
0           1       Brooklyn
1           2      Manhattan
2           3         Queens
3           4  Staten Island
4           5          Bronx

In [12]:
neighbourhood_df =  airbnb_df[["neighbourhood"]]
neighbourhood_df = neighbourhood_df.dropna(how='any')
neighbourhood_df_unique = neighbourhood_df.drop_duplicates()
neighbourhood_df_unique.set_index("neighbourhood", inplace=True)
neighbourhood_df_unique = neighbourhood_df_unique.reset_index()
neighbourhood_df_unique.index = neighbourhood_df_unique.index+1
neighbourhood_df_unique = neighbourhood_df_unique.reset_index()
neighbourhood_df_unique = neighbourhood_df_unique.rename(columns={"index":"neighbourhood_id"})
neighbourhood_df_unique.head()

   neighbourhood_id neighbourhood
0                 1    Kensington
1                 2       Midtown
2                 3        Harlem
3                 4  Clinton Hill
4                 5   East Harlem

In [13]:
room_cols=["host_number", "room_type"]
room_type=airbnb_df[room_cols].copy()
room_type.drop_duplicates("room_type", inplace=True)
room_type=room_type.drop(columns=["host_number"])
room_type.index=range(1,4)
room_type=room_type.reset_index()
room_type=room_type.rename(columns={"index":"room_type_id"})
room_type

   room_type_id        room_type
0             1     Private room
1             2  Entire home/apt
2             3      Shared room

In [14]:
listing_df = pd.DataFrame.merge(airbnb_df, neighbourhood_df_unique, how='inner', left_on='neighbourhood', right_on='neighbourhood')

In [15]:
listing_df_rev = pd.DataFrame.merge(listing_df, room_type, how='inner', left_on='room_type', right_on='room_type')

In [16]:
listing_df_rev.head()

,id,name,host_number,host_title,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,neighbourhood_id,room_type_id
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365,1,1
1,63546,Large and Cozy Private Bedroom,308652,Antonín,Brooklyn,Kensington,40.64106,-73.97426,Private room,39,1,45,2019-05-16,0.46,2,365,1,1
2,125594,SUPER BIG AND COZY PRIVATE BEDROOM,308652,Antonín,Brooklyn,Kensington,40.64302,-73.97255,Private room,39,1,82,2019-05-19,0.94,2,365,1,1
3,267652,Private clean pleasant spacious room.,164675,Janice,Brooklyn,Kensington,40.64277,-73.97296,Private room,60,2,20,2019-01-21,0.42,1,347,1,1
4,656281,"QUIET, SPACIOUS, COMFORTABLE, & GREAT LOCATION",3180741,Manon,Brooklyn,Kensington,40.64573,-73.98013,Private room,72,1,48,2019-02-28,0.59,1,312,1,1

In [17]:
listing_df_copy = listing_df_rev.copy()
listing_df_reduced = listing_df_copy[['id', 'name', 'host_number', 'latitude', 'longitude', 'price', 'minimum_nights', 'number_of_reviews', 'last_review', 'reviews_per_month', 'availability_365', 'neighbourhood_id', 'room_type_id']]

In [18]:
listing_df_reduced.head()

,id,name,host_number,latitude,longitude,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,availability_365,neighbourhood_id,room_type_id
0,2539,Clean & quiet apt home by the park,2787,40.64749,-73.97237,149,1,9,2018-10-19,0.21,365,1,1
1,63546,Large and Cozy Private Bedroom,308652,40.64106,-73.97426,39,1,45,2019-05-16,0.46,365,1,1
2,125594,SUPER BIG AND COZY PRIVATE BEDROOM,308652,40.64302,-73.97255,39,1,82,2019-05-19,0.94,365,1,1
3,267652,Private clean pleasant spacious room.,164675,40.64277,-73.97296,60,2,20,2019-01-21,0.42,347,1,1
4,656281,"QUIET, SPACIOUS, COMFORTABLE, & GREAT LOCATION",3180741,40.64573,-73.98013,72,1,48,2019-02-28,0.59,312,1,1

In [29]:
pw = input("Password: ")
connection_string = "postgres:"+str(pw)+"@localhost:5432/airbnb_db"
engine = create_engine(f'postgresql://{connection_string}')

Password:

In [30]:
engine.table_names()

OperationalError: (psycopg2.OperationalError) fe_sendauth: no password supplied

(Background on this error at: http://sqlalche.me/e/e3q8)

In [22]:
host_df.to_sql(name='host', con=engine, if_exists='append', index=True)

In [23]:
neighbourhood_group_transformed.to_sql(name='borough', con=engine, if_exists='append', index=False)

In [24]:
neighbourhood_df_unique.to_sql(name='neighbourhood', con=engine, if_exists='append', index=False)

In [25]:
room_type.to_sql(name='room_type', con=engine, if_exists='append', index=False)

In [26]:
listing_df_reduced.to_sql(name='listing', con=engine, if_exists='append', index=False)